{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block h1 %} Вот что я умею: {% endblock %}
{% block content %}
<div class="row">
  <aside class="col-12 col-md-2">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-10">
    <p>
      Сайт на Джанго. Вёрстка шаблонов.
    </p>
  </article>
</div>
{% endblock %}