{% load thumbnail %}
<article class="card mb-3 mt-1 shadow-sm">
	<ul>
		<li>
			Автор: {{ post.author.get_full_name }}
			{% with request.resolver_match.view_name as view_name %}
				{% if view_name != 'posts:profile' %}
					<a href="{% url 'posts:profile' post.author %}">
						все посты пользователя
					</a>
				{% endif %}
			{% endwith %}
		</li>
		<li>
			Дата публикации: {{ post.pub_date|date:"d E Y" }}
		</li>
	</ul>
	{% thumbnail post.image "960x339" padding=True upscale=True as im %}
		<img class="card-img my-2" src="{{ im.url }}">
	{% endthumbnail %}
	<section class="card-body">
		<p>{{ post.text|linebreaksbr }}</p>
		{% if post.comments.exists %}
			<a
				href="{% url 'posts:post_detail' post.id %}"
			>
			Комментарии: {{ post.comments.count }}
			</a>
		{% else %}
			Комментариев нет
		{% endif %}
		</br>
		{% if not post.comments.exists %}
			<a href="{% url 'posts:post_detail' post.id %}">
				подробная информация
			</a>
			</br>
		{% endif %}
		{% if post.group %}
			<a href="{% url 'posts:group_list' post.group.slug %}">
				все записи группы
			</a>
		{% endif %}
	</section>
</article>