{% extends 'base.html' %}
{% block title %} Избранные авторы {% endblock %}
{% block h1 %} Избранные авторы {% endblock %}
{% block content %}
	{% include 'posts/includes/switcher.html' %}
  {% for post in page_obj %}
    {% include 'posts/includes/post_list.html' %}
    {% if post.group %}
		  <a href="{% url 'posts:group_list' post.group.slug %}">
		  	все записи группы
		  </a>
	  {% endif %}
  {% empty %}
    <b>Sorry, no posts in this list.</b>
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}